node_modules/
dist/
.generated/prisma/
.idea/
*.db
*.db-journal
.env
.env.*
.env.local

# frontend
frontend/node_modules/
frontend-next/node_modules/
frontend-next/.next/

# backend
backend/node_modules/
backend/dist/
backend/src/generated/prisma/
backend/prisma/*.db
backend/prisma/*.db-journal

# OS
.DS_Store
Thumbs.db

backend/prisma/*.db*